@page
@model RealEstatePortal.Pages.Offices.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Office</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Office.OfficeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Office.OfficeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Office.OfficeAddressID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Office.OfficeAddressID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Office.OfficeContactID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Office.OfficeContactID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Office.OfficeCompanyRegNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Office.OfficeCompanyRegNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Office.OfficeVatRegNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Office.OfficeVatRegNumber)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Office.OfficeID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
