@page
@model RealEstatePortal.Pages.AgentPropertyBuyerSellers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AgentPropertyBuyerSeller[0].AgentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentPropertyBuyerSeller[0].PropertyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentPropertyBuyerSeller[0].BuyerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentPropertyBuyerSeller[0].SellerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentPropertyBuyerSeller[0].REPM_Relationship)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AgentPropertyBuyerSeller) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AgentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.REPM_Relationship)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AgentPropertyBuyerSellerID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AgentPropertyBuyerSellerID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AgentPropertyBuyerSellerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
