@page
@model RealEstatePortal.Pages.UserAudits.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserAudit[0].UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAudit[0].ActivityType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAudit[0].ActivityAction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAudit[0].ActionDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserAudit) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityAction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UserAuditID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UserAuditID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UserAuditID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
